<div style="margin: 20px 0px">
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired nzFor="password">密码</nz-form-label>
            <nz-form-control [nzSpan]="8">
                <input nz-input type="password" id="password" formControlName="password"
                    (ngModelChange)="updateConfirmValidator()" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired nzFor="confirmPassword">密码确认</nz-form-label>
            <nz-form-control [nzSpan]="8" [nzErrorTip]="errorTpl">
                <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                <ng-template #errorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        请确认密码!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                        两个密码不匹配!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="8" [nzOffset]="4">
                <button nz-button nzType="primary" [disabled]="!form.valid">确定</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>