<div style="margin: 20px 0px">
        <form nz-form [formGroup]="queryForm" (ngSubmit)="submitQueryForm()">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4" nzFor="loginName">用户名</nz-form-label>
                    <nz-form-control [nzSpan]="8">
                        <input nz-input formControlName="loginName" id="loginName" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="4" nzFor="name">名称</nz-form-label>
                    <nz-form-control [nzSpan]="8">
                        <input nz-input formControlName="name" id="name" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                    <nz-form-control [nzSpan]="8" [nzOffset]="4">
                        <button nz-button nzType="primary">确定</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
<nz-table #agentTable [nzData]="agentPage.content" [nzFrontPagination]="false" [nzTotal]="agentPage.totalElements"
    [nzPageSize]="filter.size" [nzPageIndex]="filter.page" [nzScroll]="{ x: '1100px' }"
    (nzPageIndexChange)="pageChange($event)">
    <thead>
        <tr>
            <th nzWidth="100px" nzLeft="0px">用户名</th>
            <th nzWidth="100px">姓名</th>
            <th nzWidth="100px">角色</th>
            <th nzWidth="100px">电话</th>
            <th nzWidth="200px" nzLeft="0px">操作</th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr *ngFor="let data of agentTable.data">
            <td>{{ data.loginName }}</td>
            <td>{{ data.name }}</td>
            <td [ngClass]="{'text-success': data.profile ==profile.ADMIN}">
                {{ data.profile | agentProfileFormatPipe }}</td>
            <td>{{ data.phone }}</td>
            <td>
                <a (click)="modifyAgent(data.id)">修改</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nzType="info" (click)="trashAgent(data.id)">删除</a>
            </td>
        </tr>
    </tbody>
</nz-table>